* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.easy,
.hard,
.reload-game-over,
.reload-win-game {
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
    font-family: sans-serif;
    margin-top: 40px;
}

.easy {
    margin-right: 20px;
}

.difficulty {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.controls {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 40px;
}

.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    width: 40px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:hover {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.control-buttons {
    display: flex;
    align-items: center;
}

.button-title {
    width: 40px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.button {
    padding: 7px;
}

.control-buttons-top {
    display: flex;
    width: 158.89px;
}

.top-button {
    padding: 0px 7px;
    margin: 0 auto;
}

.score-title,
.score-points {
    font-size: 50px;
    font-family: sans-serif;
    color: black;
    text-align: center;
}

.game-over,
.win-game {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.non-display {
    display: none;

}